.LoginWrapper {
    height: 100%;
    display: flex;
}

.LoginContainer {
    text-align: center;
    flex: 1;
    padding: 1rem;
}

.LoginWelcomeContainer {
    background: #EE6C4D;
}

.LoginContainerContent {
    position: relative;
    top: 30%;
}

.LoginLogoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 16px;
}

.LoginLogo {
    width: 64px;
    height: 64px;
    display: inline-block;
}
