.WelcomeHeaderSmall {
    margin: 0 auto;
    font-size: 5em;
    color: whitesmoke;
    font-family: 'Public Sans';
    font-weight: 800;
}

.WelcomeHeaderLarge {
    margin: 0 auto;
    font-size: 7em;
    color: whitesmoke;
    font-family: 'Public Sans';
    font-weight: 800;
}

.WelcomeSubheader {
    font-size: 1.6em;
    color: whitesmoke;
    opacity: 0.9;
}

.LoginHeader {
    font-family: 'Public Sans';
    font-weight: 900;
    margin: 0;
}

.LoginSubheader {
    font-size: 1.4em;
    font-weight: 500;
    margin-top: 0.3em;
    margin-bottom: 1.5em;
    padding: 0;
}

.LoginInput {
    width: 50%;
}

.ErrorMsg {
    font-size: 0.9em;
    color: maroon;
}

.LoginErrorMsg {
    margin: 0;
    text-align: left;
    position: relative;
    left: 25%;
    width: 50%;
}

.DividerContainer {
    display: flex;
    margin: 0 auto;
}

.DividerLineContainer {
    flex: 8;
}

.DividerText {
    flex: 1;
    font-size: 0.9em;
    font-weight: 500;
    color: slategray;
}

.DividerWrapper {
    margin-top: 20px;
    width: 55%;
    margin: 20px auto 0;
}

.HeaderContainer {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: rgba(252, 234, 222, .4);
    backdrop-filter: blur(50px);

}

.HeaderContent {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: row;
}

.HeaderTitle {
    display: inline-flex;
    color: #EE6C4D;
    font-size: 1.9em;
    padding: 16px 0;
}

.HeaderDivider {
    height: 3px;
    background-color: #E7AD99;
}

.HeaderButton {
    position: absolute !important;
    right: 0;
    color: #FFF;
}

.HeaderButtonIcon {
    color: #E69A81;
}

.ReviewHeader {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.ReviewContainer {
    display: flex;
    height: 250px;
}

.ReviewContainer:hover {
    background-color: #f2d3c9;
}

.ReviewCover {
    width: 160px;
}

.ReviewDetailContainer {
    flex: 2;
    padding: 0 16px;
    font-family: 'Public Sans', sans-serif;
    position: relative;
    top: 15%;
}


.ReviewDetailContainer p {
    margin: 8px 0;
}

.ReviewDetailTitle {
    font-weight: 800;
    font-size: 1.3em;
}

.ReviewDetailValue {
    font-style: italic;
    font-weight: 500;
    color: #EE6C4D;
    margin: 24px 0 !important;
}

.ReviewDetailDate {
    font-style: italic;
    font-size: 0.9em;
    font-weight: 500;
}

.ReviewLoading {
    width: 50%;
    margin: 40px auto;
}

.Fab {
    position: fixed;
    bottom: 36px;
    right: 36px;
}

.FabIcon {
    margin-right: 8px;
}

.AddReviewModalContainer {
    display: flex;
}

.AddReviewCoverContainer {
    flex: 2;
    background-color: #E7AD99;
}

.AddReviewCover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.AddReviewContentContainer {
    flex: 3;
    margin: auto 24px;
}

.AddReviewSubtitle {
    margin-top: 32px;
    margin-bottom: 8px;
    text-transform: uppercase;
    font-size: 0.9em;
}

.AddReviewButtons {
    margin: 24px 0;
    float: right;
}

.AddReviewLoading {
    margin-right: 24px;
}

.AddReviewCoverContainer p {
    text-align: center;
    font-style: italic;
    min-width: 300px;
}
