.WelcomeHeaderSmall {
    margin: 0 auto;
    font-size: 5em;
    color: whitesmoke;
    font-family: 'Public Sans';
    font-weight: 800;
}

.WelcomeHeaderLarge {
    margin: 0 auto;
    font-size: 7em;
    color: whitesmoke;
    font-family: 'Public Sans';
    font-weight: 800;
}

.WelcomeSubheader {
    font-size: 1.6em;
    color: whitesmoke;
    opacity: 0.9;
}

.LoginHeader {
    font-family: 'Public Sans';
    font-weight: 900;
    margin: 0;
}

.LoginSubheader {
    font-size: 1.4em;
    font-weight: 500;
    margin-top: 0.3em;
    margin-bottom: 1.5em;
    padding: 0;
}

.LoginInput {
    width: 50%;
}

.ErrorMsg {
    font-size: 0.9em;
    color: maroon;
}

.LoginErrorMsg {
    margin: 0;
    text-align: left;
    position: relative;
    left: 25%;
    width: 50%;
}

.DividerContainer {
    display: flex;
    margin: 0 auto;
}

.DividerLineContainer {
    flex: 8;
}

.DividerText {
    flex: 1;
    font-size: 0.9em;
    font-weight: 500;
    color: slategray;
}

.DividerWrapper {
    margin-top: 20px;
    width: 55%;
    margin: 20px auto 0;
}

.HeaderContent {
    color: #EE6C4D;
    font-size: 1.9em;
    text-align: center;
    padding: 16px 0;
}

.HeaderDivider {
    height: 3px;
    background-color: #E7AD99;
}

.ReviewHeader {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.ReviewContainer {
    display: flex;
    height: 250px;
}

.ReviewContainer:hover {
    background-color: #f2d3c9;
}

.ReviewCover {
    width: 160px;
}

.ReviewDetailContainer {
    flex: 2;
    padding: 0 16px;
    font-family: 'Public Sans', sans-serif;
    position: relative;
    top: 15%;
}


.ReviewDetailContainer p {
    margin: 8px 0;
}

.ReviewDetailTitle {
    font-weight: 800;
    font-size: 1.3em;
}

.ReviewDetailValue {
    font-style: italic;
    font-weight: 500;
    color: #EE6C4D;
    margin: 24px 0 !important;
}

.ReviewDetailDate {
    font-style: italic;
    font-size: 0.9em;
    font-weight: 500;
}

.ReviewLoading {
    width: 50%;
    margin: 40px auto;
}

.Fab {
    position: absolute;
    bottom: 0;
    right: 24px;
}

.FabIcon {
    margin-right: 8px;
}
